.services-container {
  background-color: var(--grey-light);
  width: 100vw;
}
.services-container-center {
  padding-top: 50px;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1250px;
}
.services-title {
  flex: 1 0 100%;
  margin-bottom: 50px;
  text-align: center;
}
.services-title-two {
  margin-left: 10px;
  color: var(--primary);
}
.service {
  flex: 0 0 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.service-square {
  background-color: var(--primary-light);
  display: flex;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.service i {
  font-size: 2rem;
  padding-left: 0.15rem;
}
.service-title {
  margin-bottom: 10px;
}
.service-p {
  font-size: 0.9rem;
  color: var(--grey);
  letter-spacing: 1px;
}
@media screen and (min-width: 575px) {
  .services-container-center {
    width: 90vw;
  }
  .service {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1000px) {
  .services-container-center {
    width: 90vw;
  }
  .service {
    flex: 0 0 33%;
  }
}
